/* Import Hebrew-friendly font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

html {
  direction: rtl;
}

body {
  margin: 0;
  font-family: 'Heebo', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
  line-height: 1.6;
}

input, button, select, textarea {
  font-family: 'Heebo', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}